html {
    box-sizing: border-box;
    background: url('https://www.desktopbackground.org/download/2560x1440/2015/09/28/1018315_2560x1600-chinese-painting-fish-fish-chinese-painting-wallpapers_2560x1600_h.jpg') center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Futura,"Trebuchet MS",Arial,sans-serif;
}

#lesson {
    /*background-image: linear-gradient(to top, #845ec2, #4d7dda, #0095e0, #00a9da, #00b9cc, #2dc4c2, #55ceb4, #7bd6a6, #a6e0ac, #c9e9b8, #e6f3c9, #fefedf);}*/
    background-image: linear-gradient(to left top, #845ec2, #8e6cc1, #9779bf, #9f87be, #a795bc, #b198bd, #bb9bbd, #c49ebd, #d994b5, #ed8aa3, #fa8288, #ff8066);
}
img {
    padding: 20px;
}

.wrapper {
    padding: 20px;
    max-width: 350px;
    background: rgba(255,255,255,0.95);
    box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
}
h2 {
    text-align: center;
    margin: 0;
    font-weight: 200;
}
.categories {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    cursor: pointer;
}

.categories li {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 10px 0;
    font-weight: 100;
    display: flex;
}

a:link, a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #d51b4a;
    background-color: transparent;
    text-decoration: underline;
}

.word-form{
    display: flex;
}



#content {
    border-radius: 25px;
    height: 250px;
    width: 75%;
    text-align: center;
    background: #d51b4a;
    vertical-align: middle;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 100px;
}

#characters {
    font-size: 100px;
}

#num {
    font-size: 35px;
    font-weight: bolder;
}

.char, .pron, .trans, .not{
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline
}

.mega {
    font-size: 300px;
}
/* The container */
.container {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a  background */
.container input:checked ~ .checkmark  {
    background-color: #d51b4a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: inline-flex;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.boxes{
    padding: 10px;
}